* {
    margin: 0;
    padding: 0;
}

@media screen and (min-width:826px)and (max-width:1100px) {
      div {
          margin: 20px;
      }
}

@media screen and (max-width:825px) {
    div {
     
        display: grid;
        grid-template-columns: auto;
    }
    img {
        display: block;
        margin: 20px auto;
    }
}

@media screen and  (max-width:449px) {
     div {
         display: grid;
         grid-template-columns: auto;
     }
}